<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnsISda0Qei_g_q9TLaTpwDfQol2Cem2s</string>
	<key>GCM_SENDER_ID</key>
	<string>929140335000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yohanesari.InventoryBK</string>
	<key>PROJECT_ID</key>
	<string>uas13235</string>
	<key>STORAGE_BUCKET</key>
	<string>uas13235.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929140335000:ios:916b4f69e2dc155b13cbed</string>
	<key>DATABASE_URL</key>
	<string>https://uas13235-default-rtdb.firebaseio.com</string>
</dict>
</plist>